html
  box-sizing border-box
  height 100%

body
  height 100%
  width 100%
  overflow hidden

*
  box-sizing inherit

#app
  height 100%
  width 100%
  -webkit-overflow-scrolling touch
  overflow hidden
  overflow-y auto

[v-cloak]
  display none
